# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual Environments
.venv/
venv/
env/

# Environment files
.env
.env.*
*.env

# HF / Model cache
.cache/
.huggingface/
hf_cache/
models/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kubernetes
*.kubeconfig
kubeconfig
